{% extends 'index.html' %}
 {% block content %}
  <!-- about section -->
  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
              <img src="/static/images/plug.png" alt="">
            </div>
            <p>
              The Oil Spill Detection Project aims to utilize advanced satellite imagery and machine learning algorithms to detect and monitor oil spills in marine environments in real-time. Oil spills pose significant risks to marine life, coastal ecosystems, and the global economy, making timely detection and response critical. By leveraging the power of satellite sensors that capture multi-spectral and radar data, along with machine learning models that can identify and classify oil spills, this project offers a more efficient and automated approach compared to traditional methods. The system processes vast amounts of satellite data, detecting even the smallest oil spills and providing early warnings to authorities and environmental organizations. This proactive approach enhances environmental protection efforts, supports disaster response teams, and ultimately contributes to preserving our oceans and marine biodiversity for future generations
            <a href="">
              Read More
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img_container">
            <div class="img-box b1">
              <img src="/static/images/image4.jfif" alt="" />
            </div>
            <div class="/static/images/img-box b2">
              <img src="" alt="" />
            </div>
          </div>

        </div>

      </div>
    </div>
  </section>

  <!-- end about section -->
   {% endblock %}

  