<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Electrochip</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/static/css/responsive.css" rel="stylesheet" />
</head>

<body>

    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <div class="container">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand" href="index.html">

                        <span>
                            OIL SPILL DETECTION

                        </span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="s-1"> </span>
                        <span class="s-2"> </span>
                        <span class="s-3"> </span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                            <ul class="navbar-nav  ">
                                <li class="nav-item active">
                                    <a class="nav-link" href="{{url_for('home')}}">Home <span
                                            class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{url_for('model')}}"> Model </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{url_for('predict')}}"> Prediction </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{url_for('index')}}">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        {% block content%}
        <!-- end header section -->
        <!-- slider section -->
         <br>
         <br>

        <section>
            <center>
                <form action="{{ url_for('model') }}" method="post">

                    <br>
                    <br>
                    <div class="dropdown-container">
                        <label for="algorithm" style="font-weight: bold; font-size: 30px;">Select Algorithm:</label>
                        <select id="algorithm" name="algo" class="form-control"
                            style="width: 250px; text-align: center; margin-bottom: 20px;">
                            <option value="">Choose Algorithm</option>
                            <option value="SVC">SVC</option>
                            <option value="RF">Random Forest</option>
                            <option value="XGBoost">XGBoost</option>
                        </select>
                    </div>

                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    {% if accuracy is not none %}
                    <h3 style="color: green; margin-top: 100px;">Accuracy: {{ accuracy }}%</h3><br>
                    {% endif %}
                </form>
            </center>
        </section>


        {% endblock%}

        <!-- end info section -->




        <script src="/static/js/jquery-3.4.1.min.js"></script>
        <script src="/static/js/bootstrap.js"></script>

</body>

</html>